.pageAlbum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.cardMusicAndAlmbum {
  display: flex;
  flex-direction: row;
  gap: 2em;
  margin-bottom: 3em;
}
